*.iml
.gradle
.editorconfig
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
*/*/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/miam.xcuserdatad/UserInterfaceState.xcuserstate
androidtestapp/libs/androidSDK-debug.aar
after_build.sh
.bundle
vendor/
xcuserdata/
fastlane/report.xml
fastlane/README.md
*.ipa 
*.dSYM*

